<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Order details for <span th:text="${OrderId}"></span></h1>
    
    <table>
        <tr>
            <td>Order id</td>
            <td>Order date</td>
            <td>Customer id</td>
            <td>Total (Price of order)</td>
            <td>Cost price</td>
        </tr>
        <tr th:each="order:${Orders}">
            <td th:text="${order.id}"></td>
            <td th:text="${order.order_date}" ></td>
            <td th:text="${order.customer_id}" > </td>
            <td th:text="${order.price}"></td>
            <td th:text="${order.cost}"></td>
        </tr>      

    </table>
    

</body>
</html>